
#clock {
   font-family:  'Orbitron', sans-serif;
                                                
    font-size: 170px;
    width: 1200px;
    margin: auto;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 200px;
    color: red;
    background-color: black;
}